{% extends "auctions/layout.html" %}

{% block title %}

Create New Listing

{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="pageheading">Create a Listing</h2>
            <p>{{ message }}</p><br>

        <form action="{% url 'create' %}" method="post" id="createlistingform">
            {% csrf_token %}
            {% for field in form %}
                <div class="row">
                    <div class="col-3">
                        {{ field.label_tag }}
                    </div>
                    <div class="col-3">
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
            <br>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-4">
                    <input class="btn btn-primary" type="submit" value="Create Listing" id="createbutton">
                </div>
        </form>
    </div>
    
{% endblock %}