{% extends "auctions/layout.html" %}

{% block body %}

    <h2>{{ title }}</h2><br>
    {% if category %}
        <p><a href="{% url 'index' %}"">Return to All Listings</a></p>
    {% endif %}
    {% for listing in listings %}
        <div class="row border m-3 p-2 shadow listingrow">
            <div class="col-4 p-2 text-center">
                <img src="{{ listing.image_url }}" alt="listing image" class="listingimg">
            </div>
            <div class="col-8 p-2">
                <h3>{{ listing.title }}</h3>
                <p class="pricerow"><strong>Price: </strong>${{ listing.max_bid }}</p>
                <p class="descriptionrow">{{ listing.description }}</p>
                <p class="creationtime">Created {{ listing.creation_time }}</p>
                <div class="row">
                    <div class="col-2">
                        <a class="btn btn-primary listing-button" href="{% url 'listing' listing.id %}">View Full Listing</a>
                    </div>
                    <div class="col-2 watchlistdiv">
                        {% if listing in watchlist %}
                            <p class="rounded" id="onwatchlistindex">On Watchlist</p><br>
                            <form action="/remove" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="listingid" value="{{ listing.id }}">
                                <input type="hidden" name="page" value="index">
                                <button class="remove" type="submit">Remove</button>
                            </form>
                        {% else %}
                            <form action="/add" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="listingid" value="{{ listing.id }}">
                                <input type="hidden" name="page" value="index">
                                <input class="btn btn-primary listing-button" type="submit" value="Add to Watchlist">
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    {% empty %}
    <ul>
        <li>No listings</li>
    </ul>
    {% endfor %}
    
{% endblock %}