{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Active Listings</h2><br>
    {% for listing in listings %}
        <div class="row border m-3 p-2 shadow listingrow">
            <div class="col-4 p-2 text-center">
                <img src="{{ listing.image_url }}" alt="listing image" class="listingimg">
            </div>
            <div class="col-8 p-2">
                <h3>{{ listing.title }}</h3>
                <p class="pricerow"><strong>Price: </strong>${{ listing.max_bid }}</p>
                <p class="descriptionrow">{{ listing.description }}</p>
                <p class="creationtime">Created {{ listing.creation_time }}</p>
                <a class="btn btn-primary listing-button" href="/listings/{{ listing.id }}">View Full Listing</a>
                <form action="/add" method="post">
                    <input type="hidden" value="{{ listing.id }}">
                    <input class="btn btn-primary listing-button" type="submit" value="Add to Watchlist">
                </form>
            </div>
        </div>
    {% endfor %}
    
{% endblock %}