{% extends "auctions/layout.html" %}

{% block title %}

Listing: {{ listing.title }}

{% endblock %}

{% block body %}
    <div class="container">
        <div class="row p-2 mb-3">
            <div class="col-8">
                <h2>Listing: {{ listing.title }}</h2>
            </div>
            {% if user.is_authenticated %}
                <div class="col-4 right">
                    {% if listing.active %}
                        {% if favorite %}
                            <p class="rounded" id="onwatchlist">On Watchlist</p>
                            <form action="/remove" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="listingid" value="{{ listing.id }}">
                                <input type="hidden" name="page" value="listingpage">
                                <input class="remove" type="submit" value="Remove">
                            </form>
                        {% else %}
                            <form action="/add" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="listingid" value="{{ listing.id }}">
                                <input type="hidden" name="page" value="listingpage">
                                <input class="btn btn-primary" type="submit" value="Add to Watchlist">
                            </form>
                        {% endif %}
                    {% else %}
                        <p class="rounded" id="listingclosed">Listing Closed</p>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="row p-2">
            <img src="{{ listing.image_url }}" alt="listing image">
        </div>
        <div class="row p-2">
            <h3>Description:</h3>
        </div>
        <div class="row p-2">
            <p>{{ listing.description }}</p>
        </div>
        <div class="row p-2">
            <p id="listingprice"><strong>Current Price: </strong>${{ listing.max_bid }}</p>
        </div>
        <div class="row p-2">
            <h3>Bids:</h3>
        </div>      
        {% if user.is_authenticated %}
            {% if listing.owner == user %}
                {% if listing.active %}
                    {% if bidcount == 1 %}
                        <p>{{ bidcount }} bid so far.</p>
                    {% else %}
                        <p>{{ bidcount }} bids so far.</p>
                    {% endif %}
                    <form action="{% url 'close' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="listingid" value="{{ listing.id }}">
                        <input class="btn btn-primary" type="submit" value="Close Listing">
                    </form>
                {% else %}
                    <p>{{ bidcount }} total bids.</p>
                    {% if winner %}
                        <p><strong>Winning Bidder: </strong>{{ winner }}</p>
                    {% else %}
                        <p>There is not a winning bidder because there have not been any bids.</p>
                    {% endif %}
                    <p>This listing is currently closed. To re-open the listing, click the button below.</p>
                    <form action="{% url 'open' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="listingid" value="{{ listing.id }}">
                        <input class="btn btn-primary" type="submit" value="Re-Open Listing">
                    </form>
                {% endif %}
            {% else %}
                <form action="{% url 'bid' %}" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="row p-2">
                            {{ field.label_tag }}&nbsp;&nbsp;
                            {{ field }}
                        </div><br>
                    {% endfor %}
                    <input class="btn btn-primary" type="submit" value="Place Bid">
                </form>
            {% endif %}
        {% else %}
            <p><a href="{% url 'login' %}">Sign in</a> to place a bid</p>
        {% endif %}
        <br>
        <div class="row p-2">
            <h3>Additional Details:</h3>
        </div>
        <div class="row p-2">
            <ul>
                <li>Listed by <strong>{{ listing.owner }}</strong></li>
                <li>Category: <strong>{{ listing.category }}</strong></li>
                <li>Listed on: {{ listing.creation_time }}</li>
            </ul>
        </div>
        <div class="row p-2">
            <h3>Comment:</h3>
        </div>
        <div class="row p-2">
            {% if user.is_authenticated %}
            
            <form action="{% url 'comment' %}" method="post" id="commentform">
                {% csrf_token %}
                <input type="hidden" name="listingid" value="{{ listing.id }}">
                {% for field in commentform %}
                    <div class="row pl-2">
                        {{ field.label_tag }}
                    </div>
                    <div class="row pl-2 pb-2">
                        {{ field }}
                    </div>
                {% endfor %}
                <input class="btn btn-primary my-2" type="submit" value="Add a Comment">
            </form>
            
            {% else %}
                <p><a href="{% url 'login' %}">Sign in</a> to add comments.</p>
            {% endif %}
        </div>
        <div class="row p-2">
            <h4>All Comments:</h3>
        </div>
            {% for comment in comments %}
                <div class="row p-2 mt-2 mb-4 border shadow">
                    <p><u><em>Comment by user <strong>{{ comment.user }}</strong> on {{ comment.date }}:</em></u><br><br>
                    {{ comment.comment }}</p>
                </div>
            {% empty %}
                <div class="row p-2">
                    <p>No comments yet!</p>
                </div>
            {% endfor %}
    </div>
{% endblock %}