body {
    padding: 10px;
}

.pageheading {
    margin: 20px 0;
}

#createlistingform {
    label, input, textarea, select {
        margin: 10px 0;
    }

    input, textarea, select {
        width: 300px;
        padding-left: 5px;
    }
}

#createbutton {
    margin: auto;
}

.listingrow {
    min-height: 300px;
}

.creationtime {
    font-size: 0.9em;
    font-weight: 600;
    font-style: italic;
    color: #666;
}

#watchlistcount {
    background-color: #888;
    color: white;
    font-weight: 600;
    align-items: center;
    padding: 0 6px 1px 1px;
}

.listing-button {
    display: inline-block;
    width: 200px;
    margin: 10px 10px 10px 0;
    float: left;
}

.listingimg {
    max-width: 100%;
    width: 400px;
    max-height: 100%;
}

.pricerow {
    margin-bottom: 10px;
}

.descriptionrow {
    min-height: 50px;
}

@media screen and (max-width: 750px) {
    .listing-button {
        width: 140px;
        font-size: 0.8em;
        margin: 5px 5px 5px 0;
    }
}

#onwatchlist {
    background-color: #5A6268;
    width: 150px;
    padding: 5px;
    margin: 0;
    color: white;
    font-weight: 500;
    text-align: center;
    float: left;
}

#onwatchlistindex {
    background-color: #5A6268;
    display: inline-block;
    width: 200px;
    margin: 10px 10px 5px 0;
    float: left;
    color: white;
    text-align: center;
    padding: 7px;
}

#removefromwatchlist {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 150px;
}

#listingclosed {
    background-color: red;
    width: 150px;
    padding: 5px;
    margin: 0;
    color: white;
    font-weight: 500;
    text-align: center;
}

.remove {
    background: none!important;
    border: none;
    padding: 0!important;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 3px;
    margin-left: 15px;
  }

  .watchlistdiv {
      text-align: center;
      }